#!/bin/bash

DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
cd $DIR

git pull    #TODO: force?

docker build -t pa3_recognizer:latest -f "{{ build_directory }}/pa3_recognizer/Dockerfile_recognizer" \
        "{{ build_directory }}/pa3_recognizer"

docker stop pa3_recognizer

docker run --name "pa3_recognizer" -h "pa3_recognizer_{{ inventory_hostname }}" \
        --device /dev/video0:/dev/video0:rwm \
        -e SERVER_URL="{{ server_url }}" -e CAMERA=0 -e PYTHONPATH=/srv/pa3/recognition \
        -e USER="{{ inventory_hostname }}" \
        pa3_recognizer