Define URL "{{ server_url }}"
Define URL2 pruefungsamt.org

<VirtualHost *:80>
    ServerName ${URL}
    ServerAlias www.${URL}
    ServerAlias ${URL2}
    ServerAlias www.${URL2}

    Redirect permanent / https://${URL}/
</VirtualHost>

<VirtualHost *:443>
    ServerAdmin pa@freitagsrunde.org
    ErrorLog ${APACHE_LOG_DIR}/error.log

    LogLevel warn

    ServerName ${URL}
    ServerAlias www.${URL}
    ServerAlias ${URL2}
    ServerAlias www.${URL2}

    WSGIScriptAlias / /srv/pa3_django/pa3/wsgi.py

    WSGIDaemonProcess pa3-django-wsgi-ssl processes=5 threads=1 python-path=/srv/pa3_django/:/usr/local/lib/python3.6/site-packages
    WSGIProcessGroup pa3-django-wsgi-ssl
    WSGIPassAuthorization On

    <Directory /srv/pa3_django/pa3/>
        <Files wsgi.py>
            Require all granted
        </Files>
    </Directory>

    Alias /static/ /srv/pa3_django/staticfiles/
    <Directory /srv/pa3_django/staticfiles/>
            Require all granted
    </Directory>

    Alias /current_images/ /dev/shm/
    <Directory /dev/shm/>
            Require all granted
    </Directory>

    SSLEngine on

    SSLCertificateFile      /etc/apache2/ssl/${URL}/cert1.pem
    #SSLCertificateChainFile /etc/apache2/ssl/${URL}/chain1.pem
    SSLCertificateKeyFile   /etc/apache2/ssl/${URL}/privkey1.pem

</VirtualHost>
