
version: "2.1"
services:
  frontend:
    image: pa3_frontend:latest
    build: .
    hostname: frontend
    ports:
      - "8003:8003"
    environment:
      - "TZ=Europe/Berlin"
      - "SECRET_RECOGNIZER_AUTH={{ secret_data_recognizer_auth }}"
      - "SECRET_MYSQL_PASSWORD={{ secret_data_mysql_password }}"
      - "SECRET_DJANGO_SECRET_KEY={{ secret_data_django_secret_key }}"
      - "SERVER_URL={{ server_url }}"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=webproxy"
      - "traefik.{{ role_name }}.port=8003"
      - "traefik.{{ role_name }}.protocol=http"
      - "traefik.{{ role_name }}.frontend.rule=Host:pa3.freitagsrunde.org"
    networks:
      - webproxy
      - default
    depends_on:
      - mysql

  mysql:
    image: mysql:5.7
    hostname: mysql
    volumes:
      - "{{ build_directory }}/mysql_data:/var/lib/mysql:rw"
    environment:
      - "MYSQL_DATABASE=pa3_django"
      - "MYSQL_ROOT_PASSWORD={{ secret_data_mysql_password }}"
#      - "MYSQL_ROOT_HOST=mysql"

networks:
  webproxy:
    external: true