<!DOCTYPE html>
<html>
    {% load static %}
	<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static "pa3_web/css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "pa3_web/css/query.qtip.min.css" %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no charset=utf-8">


	{% block head %}
	{% endblock %}
	</head>
	<body>
		{% block content %}
		{% endblock %}

        {% block additional_scripts %}
        {% endblock %}
	</body>
</html>

