<hr />
<strong>Developers' News</strong> - <span style=font-size:0.8em>17.12.2015</span><br />
<div style=font-size:0.9em>
Die Pr&uuml;fungsamt-Systeme sind nun wieder einsatzbereit und "frisch". Sollten also wieder ein paar Jahre laufen ;)<br />
<br />
<br />
General&uuml;berholung steht bald an...<br />
<br />
<br />
Die Anzeigetafel H 13 ist weiterhin <a href=/13>hier</a> erreichbar, wird aber eventuell bald zusammen mit dem Campus Center wieder auf die Hauptseite kommen. Das Pr&uuml;fungsamtprojekt wird zum Amtprojekt<br />
Kurzzeitig k&ouml;nnen Nummern abweichen, was in der Praxis jedoch nur die Nummernaktualisierung ausserhalb der &Ouml;ffnungszeiten durcheinanderbringen sollte.<br />
Falls doch eine Nummer "komisch" sein sollte, k&ouml;nnen die <a href=/-1>Originalbilder</a> als Orientierung dienen.

</div>
