<hr />
Disclaimer:<br />
<br />
Das System ist noch in der Entwicklung. Durch Wartungsarbeiten k&ouml;nnen die Nummern veraltet sein.<br />
Wir versuchen, Wartungsarbeiten anzuzeigen und diese nur ausserhalb der &Ouml;ffnungszeiten durchzuf&uuml;hren.<br />
Generell soll die Anzeige hier als &Uuml;bergangsl&ouml;sung bestehen, bis eine elegantere, mit dem Wartenummernsystem an sich interagierende L&ouml;sung m&ouml;glich wird. Ab dann w&auml;ren Funktionen wie Reservierung m&ouml;glich.<br />
<br />
Die Nummernanzeige ist eine Anzeige der Pr&uuml;fungsamtnummern der Tafeln &uuml;ber den R&auml;umen H23, H10 und H02. Das Imma-Amt an H13 ist <a href=/13>hier</a> zu finden.<br />
Alle Angaben sind ohne Gew&auml;hr und es gelten die Regeln des Pr&uuml;fungsamts, also:<br />
<ul>
<li>Nur eine Person pro Nummer</li>
<li>Rechtzeitiges Erscheinen, wenn die Nummer erscheint. Nummern verfallen! Unser System hat hier keine Relevanz, die Anzeige z&auml;hlt</li>
<li>Nummernautomaten &ouml;ffnen 30 Minuten vor Pr&uuml;fungsamt&ouml;ffnung und schlie&szlig;en 30 Minuten vor Pr&uuml;fungsamtschlie&szlig;ung!</li>
</ul>
