<div class=subscribe-box>

{% load i18n %}
{% load static%}

<link rel="stylesheet" type="text/css" href="{% static "pa3_web/css/query.qtip.min.css" %}">
<script src="{% static "pa3_web/js/jquery-2.0.3.min.js" %}"></script>
<script src="{% static "pa3_web/js/jquery.qtip.min.js" %}"></script>

<script type="text/javascript">
<!--
	function toggle_visibility(id) {
		{% for subform in subscribeforms %}
			document.getElementById('content-{{ subform.protocol }}').style.display = 'none';
		{% endfor %}
		document.getElementById(id).style.display = 'block';
	}

	$(document).ready(function()
	{
		$('.toggle_help').qtip({});
		{% with lastform=subscribeforms|first %}
			toggle_visibility('content-{{ lastform.protocol }}');
		{% endwith %}
	});
//-->
</script>


<h2>{% trans "Subscription" %}</h2>
<div class=nav>
{% for subform in subscribeforms %}
	<a href="#" onclick="toggle_visibility('content-{{ subform.protocol }}')">{{ subform.protocol }}</a>
	{% if not forloop.last %}|{% endif %}
{% endfor %}
</div>

<br />
{% for subform in subscribeforms %}
	<div id=content-{{ subform.protocol }}>
		{% if subform.success %}<div class=success>
			{% for success in subform.success %}
				{{ success }}<br />
			{% endfor %}</div>
		{% endif %}
		<div class=field_errors>{{ subform.non_field_errors.as_text }}</div>
		<form action=/subscribe method="POST">
		<input type=hidden value={{ subform.protocol }} name=protocol />
		{% if subform.recipient %}
		<label for="id_recipient">{% trans "Recipient" %}:</label><br />
	        {{ subform.recipient }}<br /><span class=field_errors>{{ subform.recipient.errors.as_text }}</span>
		{% endif %}
		<label for="id_number">{% trans "Number" %}:</label><br />
	        {{ subform.number }}<br /><span class=field_errors>{{ subform.number.errors.as_text }}</span>
		<label for="id_buf">{% trans "Buffer" %}:</label>&nbsp;<a href='#' 
		title="Wievielen Nummern vorher<br /> soll benachrichtigt werden?"
		class="toggle_help">?</a>&nbsp;&nbsp;&nbsp;
		<label for="id_src">{% trans "Bureau" %}:</label><br />
	        {{ subform.buf }}&nbsp;{{ subform.src }}<br />
			<span class=field_errors>{{ subform.pre.errors.as_text }}</span>
			&nbsp;<span class=field_errors>{{ subform.src.errors.as_text }}</span>
		<center><input type=submit value={% trans "Subscribe" %} /></center>
		</form>
	</div>
{% endfor %}
</div>
