{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load pa3_timesinceseconds %}
{% load pa3_secondssince %}

{% block title %}{% trans "Examination Office Project" %}{% endblock %}
{% block additional_scripts %}
    <script src="{% static "pa3_web/js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "pa3_web/js/jquery.qtip.min.js" %}"></script>
    <script src="{% static "pa3_web/js/number_updates.js" %}"></script>

    <script type="text/javascript">
<!--
	$(document).ready(function()
	{
		current_numbers = {{ data|safe }};
        setInterval(update_numbers, 5000);
	});
//-->
</script>
{% endblock %}

{% block content %}

{# {% include "information.html" %} #}

<div class=leftside>
	<h1>{% trans "The latest numbers of the examination offices" %}</h1>
	<p class="current-time">{% now "D, j. F Y H:i:s" %}</p>

	{% for pa_newest in data %}
        {% with pa_newest.newest as pa %}
            {% for number in pa.numbers %}
                <div class="number-box number-box-{{ pa.src }}">
                    <span class="location">
                        {% trans "Table at" %} <a name={{pa.src}} href="/{{pa.src}}">{{pa.placement}}</a>
                        <div class="updated">
                            {{ pa_newest.updated }}
                        </div>
                    </span>
                    <span class="room">{{number.src}}</span>
                    <span class="number number-{{ number.src }}">{{ number.number }}</span>
                    <span class="called called-{{ number.src }}">{{ number.called }}</span>
                    <hr >
                    <img class="picture picture-{{ number.src }}" src="/current_images/{{pa.src}}.jpeg?" width="100" />
                </div>
            {% endfor %}
        {% endwith %}
	{% endfor %}
</div>

<div class=applets>
	{% if news %}
		{% include "frameOpenings.html" %}<br />
		{# {% include "frameSubscribe.html" %}<br />   #}
	{% endif %}
	<div class="logo">
		<a href="http://wiki.freitagsrunde.org">
			<img src="{%  static "pa3_web/img/frunde_logo.png" %}">
		</a>
	</div>
</div>


<div style=clear:both></div>


{% if news %}
	{% include "currentstatus.html" %}
	<hr />


	<div id="fr_frame">
    {% if news.fr_error %}
        <p class="framehead">{% trans news.fr_error|safe %}</p>
    {% else %}

        <p class="framehead">
            <u>{% trans "News from the Freitagsrunde" %}</u><br />
            {{ news.fr_news.title }}
        </p>
        <p class="framecontent">
		    {{ news.fr_news.content|safe }}
        </p>
    {% endif %}
	</div>
	<div id="pa_frame">
    {% if news.pa_error %}
		<p class="framehead">{% trans news.pa_error|safe %}</p>
    {% else %}
        <p class="framehead">
            <u>{% trans "News from the examination office" %}</u><br />
            {{ news.pa_news.title }}
        </p>
        <p class="framecontent">
		    {{ news.pa_news.content|safe }}
        </p>
    {% endif %}
	</div>
	<div style="clear:both;"></div>

	{% include "disclaimer.html" %}
{% else %}
	<a href="/">Alle Tafeln anzeigen</a>
{% endif %}

{% endblock %}
