{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% load pa3_timesinceseconds %}
{% load pa3_secondssince %}

{% block title %}{% trans "Examination Office Project" %}{% endblock %}
{% block additional_scripts %}
    <script src="{% static "pa3_web/js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "pa3_web/js/jquery.qtip.min.js" %}"></script>
    <script src="{% static "pa3_web/js/number_updates.js" %}"></script>
    <script src="{% static "pa3_web/js/subscriptions.js" %}"></script>

    <script type="text/javascript">
<!--
	$(document).ready(function()
	{
		current_numbers = {{ data|safe }};
		subscription_init();
        subscription_form_init();

        setInterval(update_numbers, 5000);
	});
//-->
</script>
{% endblock %}

{% block content %}

{# {% include "information.html" %} #}

<div class=leftside>
	<h1>{% trans "The latest numbers of the examination offices" %}</h1>
	<p class="current-time">{% now "D, j. F Y H:i:s" %}</p>

	{% for pa_newest in data %}
        {% with pa_newest.newest as pa %}
            {% for number in pa.numbers %}
                <div class="number-box number-box-{{ pa.src }}">
                    <span class="location">
                        {% trans "Table at" %} <a name={{pa.src}} href="/{{pa.src}}">{{pa.placement}}</a>
                        <div class="updated">
                            {{ pa_newest.updated }}
                        </div>
                    </span>
                    <span class="room">{{number.src}}</span>
                    <span class="number number-{{ number.src }}">{{ number.number }}</span>
                    <span class="called called-{{ number.src }}">{{ number.called }}</span>
                    <hr >
                    <img class="picture picture-{{ number.src }}" src="/current_images/{{number.src}}.jpeg?" width="100" />
                </div>
            {% endfor %}
        {% endwith %}
	{% endfor %}
</div>

<div class=applets>
    {% include "applets.html" %}
</div>

<div style=clear:both></div>


{% if news %}
	{% include "currentstatus.html" %}
	<hr />

    {% include "news.html" %}

	{% include "disclaimer.html" %}
{% else %}
	<a href="/">Alle Tafeln anzeigen</a>
{% endif %}

{% endblock %}
